#modal {
    background: grey;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: none;
    justify-content: center;
    align-items: center;
}
#modal:target {
    display: flex;
}
.close {
    margin-left: 1em;
}
